<li class="message" data-user="<%= user_token(@message) %>" data-time="<%= timestamp(@message) %>">
  <div class="message-details">
    <div class="message-author">
      <%= author(@message, @participants) %>
    </div>
    <div class="message-gutter">
      <time></time>
    </div>
  </div>
  <div class="message-content">
    <div class="message-body"><%= display_body(@message) %></div>
  </div>
</li>
