<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Create temporary chats with ease! No sign-up required. Avoid stagnant email conversations by using our platform as a discussion tool.">
    <meta name="author" content="">

    <title>1DayChat - Quick Temporary Chats!</title>
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">

    <%# <script src="https://use.fontawesome.com/5bdbe51687.js"></script> %>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>

  <body data-js-view-name="<%= js_view_name(@conn, @view_template) %>">
    <%= if Mix.env == :production do %>
      <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-92239488-1', 'auto');
        ga('send', 'pageview');

      </script>
    <% end %>
    <p class="alert alert-info" role="alert" style="display: none;"><%= get_flash(@conn, :info) %></p>
    <p class="alert alert-danger" role="alert" style="display: none;"><%= get_flash(@conn, :error) %></p>

    <main>
      <%= render @view_module, @view_template, assigns %>
    </main>

    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
