/* This file is for your main application css. */

// @import url('https://fonts.googleapis.com/css?family=Nunito+Sans:400,700');
// @import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700');
// @import url('https://fonts.googleapis.com/css?family=Droid+Sans:400,700');
// @import url('https://fonts.googleapis.com/css?family=Arimo:400,700');
// @import url('https://fonts.googleapis.com/css?family=Noto+Sans:400,700');
// @import url('https://fonts.googleapis.com/css?family=Muli:400,700');
// @import url('https://fonts.googleapis.com/css?family=Poppins:400,700');
// @import url('https://fonts.googleapis.com/css?family=Oxygen:400,700');
// @import url('https://fonts.googleapis.com/css?family=Fira+Sans:400,700');
// @import url('https://fonts.googleapis.com/css?family=Varela+Round:400,700');
// @import url('https://fonts.googleapis.com/css?family=Work+Sans:400,700');
// @import url('https://fonts.googleapis.com/css?family=Asap:400,700');
// @import url('https://fonts.googleapis.com/css?family=Rubik:400,700');
// @import url('https://fonts.googleapis.com/css?family=Athiti:400,700');
@import url('https://fonts.googleapis.com/css?family=Khula:400,700');

html { box-sizing: border-box; }
html, body { height: 100%; }
body > main { height: 100%; }

// Set box-sizing globally to handle padding and border widths
*,
*::before,
*::after { box-sizing: inherit; }

body {
  color: #555;
  letter-spacing: 0.025rem;
  line-height: 1.5;
  // font-family: 'Nunito Sans', sans-serif;
  // font-family: 'Source Sans Pro', sans-serif;
  // font-family: 'Droid Sans', sans-serif;
  // font-family: 'Arimo', sans-serif;
  // font-family: 'Noto Sans', sans-serif;
  // font-family: 'Muli', sans-serif;
  // font-family: 'Poppins', sans-serif;
  // font-family: 'Oxygen', sans-serif;
  // font-family: 'Fira Sans', sans-serif;
  // font-family: 'Varela Round', sans-serif;
  // font-family: 'Work Sans', sans-serif;
  // font-family: 'Asap', sans-serif;
  // font-family: 'Rubik', sans-serif;
  // font-family: 'Athiti', sans-serif;
  font-family: 'Khula', sans-serif;
}

a { text-decoration: none; }

code { padding: .125rem .3rem; font-size: 85%; }
