<%= form_for @changeset, @action, [style: "display: none;", id: "participant-form"], fn f -> %>
  <%= if false && @changeset.action do %>
    <div class="alert alert-danger">
      <p>Oops, something went wrong! Please check the errors below.</p>
    </div>
  <% end %>

  <div class="g-recaptcha" data-sitekey="<%= Recaptcha.key %>" data-callback="submitParticipantForm"></div>
<% end %>
