<script src="https://www.google.com/recaptcha/api.js" async defer></script>
<div class="solid-wrap">
  <div class="header">
    <a href="<%= root_path(@conn, :index) %>">1DayChat</a>
  </div>
  <div class="container text-center" style="padding: 40px 0;">
    <h2>Join the Discussion</h2>
    <div>
      <%= submit "Enter", class: "button reverse", id: "participant-submit" %>
      <%= render "form.html", conn: @conn, chat: @chat %>
    </div>
  </div>
</div>
